<% if @comment.errors.any? %>
  $(".box-comment__form").after(
    `<span class="alert-error">
      người đừng lặng thinh đến thế.
    </span>`
  );
<% else %>
  $("#comment_post_<%= @comment.post_id %>").html("<%= j render 'posts/content_comment', post: @comment.post %>");
  $(".type_comment_<%= @comment.post_id %>").val("");
  $(".type_comment_<%= @comment.post_id %>").attr("placeholder", "Chém gió đi bạn ơi ...");
  $(".alert-error").remove();
<% end %>
