.form-article {
  margin: 25px;
  top: 25px;
}
abbr {
  display: none;
}
label.required:after {
  content: "*";
  color: #e67474;
}
.field_with_errors input {
  border-color: #dc3545 !important;
}
.field_with_errors span {
  color: #dc3545;
  margin-top: 5px;
  margin-bottom: 10px;
}

.action-article a {
  margin-left: 40px;
}
.slug-group .row{
  margin: 0;
}
.pagination {
  justify-content: center;
}
