<%= provide :title, @post.title + " | Hảo Trương"  %>

<div class="autopagerize_page_element">
  <div class="content">
    <div class="post-page">
      <div class="post animated fadeInDown">
        <div class="post-title">
          <h1><span><b><%= @post.title %></b></span></h1>
        </div>
        <div class="post-content">
           <%= raw @post.content %>
        </div>
        <div class="post-footer">
          <div class="meta">
            <div class="info">
              <i data-feather="clock"></i> <span class="date"> <%= @post.created_at.strftime(Settings.date.formats) %></span>
              <i data-feather="tag"></i> <span class="tag" title="random"> random </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
