<%= provide :title, @category.title + " | Hảo Trương"  %>

<div class="autopagerize_page_element">
  <div class="content">
    <% if @category.posts.present? %>
      <% @category.posts.order("created_at DESC").each do |post|%>
        <div class="post animated fadeInDown">
          <div class="post-title">
            <h2>
              <%= link_to post.title , post_path(post) %>
            </h2>
          </div>
          <div class="post-content">
            <p><%= post.description %></p>
          </div>
          <div class="post-footer">
            <div class="meta">
              <div class="info">
                <i data-feather="clock"></i> <span class="date"> <%= post.created_at.strftime(Settings.date.formats) %></span>
                <i data-feather="tag"></i> <span class="tag" title="random"> random </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="post animated fadeInDown">
        <div class="post-content">
          <p><i>Hiện tại chưa có bài viết!</i></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
